body{
    margin: 0;
    font-family: arial;
    background-image:url(https://i.pinimg.com/originals/a2/d9/01/a2d901aa209df00d993291024ddc6c2d.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    background-color:rgb(24, 22, 20);
    height: 70px;
}
li{
    list-style-type: none;
    width: 100px;
    margin-top: 20px;
}
ul,header{

    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: rgb(245, 244, 244);
}
.active{
     background-color: rgb(54, 227, 6); 
     color: white;
     padding: 10px;
     font-weight: 600;
     border-radius: 10px;
     transition:  1s;
}
